format = "Agent"
version = "1.0"
name = "Multi-Granular Optimization"

################################################################################
# Perception
################################################################################

[Perception]
protocol = "HyperFilter"

[Perception.params]
dt = 12 # Time window, 500ms
h  = 5  # Number of hyper particles

[Perception.params.pf]
protocol = "AdaptiveParticleFilter"
params = {particles = 10} # Number of inner particles

################################################################################
# Planning
################################################################################

[Planning]
protocol = "CollisionCounter"

[Planning.params]
mat = "Light"  # Color of targets
cooldown = 8  # Cooldown between hits (prevents overcounting)
tick_rate = 1  # How often to evaluate counting (same as perception)
threshold = 0.2

################################################################################
# Attention
################################################################################

[Attention]
protocol = "AdaptiveComputation"

[Attention.params]
itemp = 20.0                         # Importance temperature
base_steps = 8                       # Minimum load
load = 16                            # Maximum load
load_x0 = 5
load_m = 20
buffer_size = 1000                   # Size of task-relevance heatmap
map_metric_weights = [0.1, 0.1, 0.8] # Distance function for task-relevance
nns = 20

################################################################################
# Memory
################################################################################

[Memory]
protocol = "HyperResampling"

[Memory.params]
tau = 1.0   # Temperature for resampling hyper chains
perception = { "protocol" = "ModuleRef", "params" = { "ref" = "Perception" } }

[Memory.params.fitness]
protocol = "MhoFitness"

[Memory.params.fitness.params]
complexity_mass = 2.0  # Slope of exponential irrelevant complexity curve
complexity_factor = 30 # irrelevant representations
log_decay_rate = -0.05  # decay rate of time integral over task-relevance
att = { "protocol" = "ModuleRef", "params" = { "ref" = "Attention" } }

[Memory.params.kernel]
protocol = "MhoSplitMerge"

[Memory.params.kernel.params]
merge_tau = 1.0
merge_max_elems = 4
restructure_prob = 0.50
att = { "protocol" = "ModuleRef", "params" = { "ref" = "Attention" } }
