format = "Agent"
version = "1.0"
name = "Multi-Granular Optimization"

################################################################################
# Perception
################################################################################

[Perception]
protocol = "HyperFilter"

[Perception.params]
dt = 6 # Time window, 500ms
h  = 5  # Number of hyper particles

[Perception.params.pf]
protocol = "AdaptiveParticleFilter"
params = {particles = 10} # Number of inner particles

################################################################################
# Planning
################################################################################

[Planning]
protocol = "CollisionCounter"

[Planning.params]
mat = "Light"  # Color of targets
cooldown = 12   # Cooldown between hits (prevents overcounting)
tick_rate = 1  # How often to evaluate counting (same as perception)

################################################################################
# Attention
################################################################################

[Attention]
protocol = "AdaptiveComputation"

[Attention.params]
itemp = 10.0                         # importance temperature
base_steps = 8                       # Minimum load
load = 16                            # Maximum load
buffer_size = 1000                   # Size of task-relevance heatmap
map_metric_weights = [0.1, 0.1, 0.8] # Distance function for task-relevance
nns = 25

################################################################################
# Memory
################################################################################

[Memory]
protocol = "HyperResampling"

[Memory.params]
tau = 2.0   # Temperature for resampling hyper chains
perception = { "protocol" = "ModuleRef", "params" = { "ref" = "Perception" } }

[Memory.params.fitness]
protocol = "MhoFitness"

[Memory.params.fitness.params]
beta = 500.0            # Log-regularization constant for MLL component
complexity_mass = 80.0   # Slope of exponential irrelevant complexity curve
complexity_factor = 20  # irrelevant representations
att = { "protocol" = "ModuleRef", "params" = { "ref" = "Attention" } }

[Memory.params.kernel]
protocol = "MhoSplitMerge"

[Memory.params.kernel.params]
merge_tau = 1.0
merge_max_elems = 4
restructure_prob_min = 0.99
restructure_prob_max = 1.0 
restructure_prob_slope = 80
att = { "protocol" = "ModuleRef", "params" = { "ref" = "Attention" } }
